<!-- {
'FirstName': 'Aaron',
'LastName': 'Burgess',
'Address': 'Ap #955-6907 Malesuada Ave', \
'PatientID': 'Q9B0R5',
'Given': 2,
'WardCode': 46,
'Ward': 'Neurology',
'Gender': 'Male',
'RoomNo': 184,
'Prescribed': 3,
'Percentage': 0.6666666666666666
} -->

{% extends 'index.html' %}
{% block content %}
<div id='ward'>
  <h1>{{data[0]['Ward']}}</h1>
  {% for patient in data %}
  <div class="rooms">
    <h2 class='room_no'>{{patient['RoomNo']}}</h2>
    <p>{{patient['LastName']}}, {{patient['FirstName']}}</p>
    <table>
      <tr>
        {% for medication in range(1, patient['Prescribed']) %}
        <td class="{{patient['status']}}"></td>
        <td class="{{patient['status']}}"></td>
        <td class="{{patient['status']}}"></td>
        {% endfor %}
      </tr>
    </table>
  </div>
  {% endfor %}
</div>
{% endblock %}
